.home {
    position: relative;
    background: linear-gradient(180deg, hsl(210, 88%, 20%), hsl(210, 70%, 58%));
    height: 650px;
    padding-top: 7rem;
    overflow: hidden;
    &__title{
        color: var(--white-color);
        font-size: var(--biggest-font-size);
        font-family: var(--second-font);
        text-align: center;
        margin-top: 1.5rem;
    }
    & img{
        position: absolute;
    }
    &__mountain-1,
    &__snow{
        bottom: 0;
    }
    &__village,
    &__pine,
    &__moon,
    &__trineo{
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &__village{
        width: 260px;
        bottom: 1rem;
    }
    &__pine{
        width: 250px;
        bottom: 4rem;
    }
    &__mountain-2{
        bottom: 3rem;
    }
    &__mountain-3{
        bottom: 6rem;
    }
    &__moon{
        width: 300px;
        bottom: 8.5rem;
    }
    &__trineo{
        width: 250px;
        bottom: 14.5rem;
    }
}
